<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Login</title>
</head>
<div th:replace="header :: head"></div>
<body>
   <div class="container-fluid">
	 <form name="form"  th:action="@{/login}"  class="register-form" method="POST">      
	 <h2 class="form-signin-heading">Currency Converter</h2>
	 <div th:if="${param.error}" class="alert alert-danger" role="alert">
		 <strong>Invalid username or password!</strong>
	 </div>
	 
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="email">Email</label>
               <input name="username" class="form-control" type="email" autofocus="true"/>             
           </div>            
      </div>
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="password">Password</label>
               <input name="password" class="form-control" type="password" autofocus="true"/>             
           </div>            
      </div>
      <hr>
      <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           <button class="btn btn-default regbutton" name="LogInButton">Login</button>
           
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           <!--<button class="btn btn-default logbutton" onclick="/signup">Sign up</button> --> 
           <a href="/signup"><input type="button" value="Sign up" class="btn btn-default logbutton" onclick="javascript:location.href='/signup'"/></a>
                    
          </div>          
      </div>   
      </hr> 
    </form>
</div>
</body>
</html>